body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.hero-container{
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  padding-left: 7rem;
}
.span-kevin{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color:#00CBA9;
}
.hero-wrapper{
  justify-items: flex-start;
}
.hero-wrapper p{
  margin: 0 auto;
  font-size: 3.5rem;
  font-weight: 700;
  color: #3e3939;
}
.hero-button-wrapper{
  background-color: transparent;
  border: 2px solid #00CBA9;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: .5s ease;
}
.button{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #00CBA9;
}
/*------------------------------ ABOUT ME ------------------------------------*/
.about-me-container{
  background-image: url('./assets/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.flex-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
}
.about-me-img-wrapper{
  margin-left: 8rem;
}
.about-me-heading-wrapper{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.about-me-img{
  width: auto;
  height: 350px;
  box-sizing: border-box;
}
.about-me-heading-wrapper{
  text-transform: uppercase;
}
.about-me-text-wrapper p{
  font-size: 1.5rem;
  width: 450px;
  margin-right: 5rem;
}
.about-me-text-wrapper span{
  font-size: 1rem;
}
.aboutme-btn-wrapper{

}
.aboutme-heading-h1{
padding-top: 20px;
}
/* PROJECTS---------------------------------------------------------- */
.projects-container{
  background-color: pink;
}
.proj-flex-wrapper{
  background-color: rgb(45, 177, 191);
  display: flex;
  justify-content: center;
}
.proj-heading{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.proj-img-wrapper{
  
}
.proj-img{
  width: 250px;
  height: auto;
}